<div class="form-group">
 
    <input [class.is-invalid]="ngControl.touched && ngControl.invalid" type="{{type}}" [formControl]="ngControl.control" class="form-control mt-2" placeholder="{{label}}" >
    <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">Please enter a {{label}}</div>
    <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">{{label}} must be  atleast {{ngControl.control.errors.minlength['requiredLength']}}</div>
    <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">{{label}} must be atmost {{ngControl.control.errors.maxlength['requiredLength']}}</div>
    <div *ngIf="ngControl.control.errors?.ismatching" class="invalid-feedback">Password donot match</div>
</div>
