
<div class="container mt-5" *ngIf="!RegisterMode">
    <div style="text-align: center;">
        <h1>Find your Match</h1>
        <p class="lead">common into viewyour match all you need to do is sign up !</p>
        <div class="text-center">
            <button Class="btn btn-primary btn-lg-nr-2" (click)="registerToggle()">Register</button>
            <button Class="btn btn-default btn-lg-nr-2">Cancel</button>

        </div>

    </div>
</div>
<div class="container" *ngIf="RegisterMode" >
    <div class="row justify-content-center">
        <div class="col-4">
            <app-register (CancelRegister)="CancelRegistration($event)" ></app-register>

        </div>
    </div>
</div>